<!DOCTYPE html>
<html>
  <script src="./src/details.js"></script>
    <head>
        <meta charset="UTF-8">
        <title>Hi-Score</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="leaderboardBackground">
      <div id="menu bar" class= "topnav">
          <div class="topnav-centered">
            <ul>
              <li><a class="navButton" href="/mainmenu">Game</a></li>
              <li><a class="active" href="/highscore">Hi-Score</a></li>
              <li><a class="navButton" href="/shop">Shop</a></li>
            </ul>
          </div>

          <div>
            <a class="accountbtn" href="/">Logout</a>
          </div>
          <div class = "pointsdisplay">
            <p id = pointsdisplay></p>
          </div>

          <div class = "usernamedisplay">
            <p id = usernamedisplay></p>
          </div>

          <img src="/images/logo_cropped.png" width= "300px" height= "60px" class="ripoff">

      </div>
      <div class="ownedperks" visibility: hidden>
        <p id="numsaves" class="displayperks"></p>
        <p id="numslows" class="displayperks"></p>
        <p id="numballs" class="displayperks"></p>
      </div>

<table>
      <tr id = "container">
        <th class = "leaderboard"> <a class="hiHeader" href = "/hiscore">Username</a></th>
        <th class = "leaderboard"> <a class="hiHeader" href = "/sort/Points">Player Points</a></th>
        <th class = "leaderboard"> <a class="hiHeader" href = "/sort/Hits">Circles Hit</a></th>
        <th class = "leaderboard"> <a class="hiHeader" href = "/sort/Misses">Circles Missed</a></th>
        <th class = "leaderboard"> <a class="hiHeader" href = "/sort/Wins">Games Won</a></th>
        <th class = "leaderboard"> <a class="hiHeader" href = "/sort/Ratio">W/L Ratio</a></th>
      </tr>

      <%users.forEach(users => {%>
        <tr id = "container" <% if(users.user_name == currUser) {%> class = "currentUser" <% } %>>
          <td class = "leaderboard"><%= users.user_name %></td>
          <td class = "leaderboard"><%= users.points %></td>
          <td class = "leaderboard"><%= users.circleshit %></td>
          <td class = "leaderboard"><%= users.circlesmiss %></td>
          <td class = "leaderboard"><%= users.gameswon %></td>
          <td class = "leaderboard"><%= parseFloat(users.gameswon / (users.gameslost>0 ? users.gameslost : 1)).toFixed(2) %></td>
        </tr>
      <%})%>
</table>
      <div id="game bar" class= "bottombar"></div>

      <audio id="audio" src="..sounds\otherPagesMusic.mp3"></audio>

      <script>
        document.addEventListener('click', musicPlay);
        function musicPlay() {
    	    document.getElementById('audio').play();
    		  document.removeEventListener('click', musicPlay);
        }
      </script>
    </body>
</html>
